.button {
  flex: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-weight: normal;
  transition: background-color 0.3s, color 0.3s;

  &.default {
    width: 180px;
    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
  }

  &.small {
    width: 138px;
    height: 60px;
    padding: 8px 16px;
    font-size: 14px;
  }

  &.big {
    font-family: Inter-semibold, sans-serif;
    font-weight: 600;
    width: 200px;
    height: 57px;
    font-size: 16px;
  }


  &.dark {
    background-color: #141416;
    color: var(--white);

    &:hover {
      background-color: #555;
    }
  }

  &.light {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &.dark_border {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);

    &:hover {
      background-color: #333;
      color: var(--white);
    }
  }

  &.light_border {
    background: transparent;
    border: 1.5px solid var(--black);
    &:hover {
      background-color: var(--white);
      color: #333;
    }
  }
}