@font-face {
  font-family: Inter-medium;
  src: url('./Inter-medium.ttf');
}

@font-face {
  font-family: Inter-semibold;
  src: url('./Inter-semibold.ttf');
}

@font-face {
  font-family: Poppins-semibold;
  src: url('./Poppins-semibold.ttf');
}