.weekly {
  background: var(--background-gray);
  padding: 70px 0 90px 0;
  .title {
    text-align: center;
    font-family: Poppins-semibold, sans-serif;
    font-size: 45px;
    color: var(--gray-lighter);
  }
}