.header {
  width: 100%;
  height: 58px;
  padding: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;

  .leftSide {
    display: flex;
    gap: 57px;

    .logo {
      display: flex;
      align-items: center;
      width: 58px;
      height: 58px;
    }

    .navigations {
      width: 445px;
      display: flex;
      align-items: center;
      gap: 52px;

      p {
        font-family: Inter-medium, sans-serif;
        font-weight: bold;
        font-size: 17px;
        color: var(--text-gray)
      }
    }
  }


}