.weeklyCardList {
  overflow: hidden;
  margin-top: 100px;

  .list {
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 28px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    cursor: grab;
    user-select: none;


    .swiper-wrapper {
      display: flex;
    }
  }


  .list:active {
    cursor: grabbing;
  }

  .list::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 1921px)  {
  .weeklyCardList {
    margin-top: 8vh;

    .list {
      gap: 2vw;
    }
  }
}

@media screen and (max-width: 400px) {
  .weeklyCardList {
    margin-top: 60px;
  }
}