:root {
  --white: #FFFFFF;
  --background-default: #F9F9F9;
  --background-gray: #F1F1F1;
  --text-gray: #676767;
  --gray-light: #848586;
  --gray-lighter: #C5C5C5;
  --default-black: #141416;
  --black: #000000;
  --light-blue: #94A3B8;
  --gray-opacity: #1C1D20;
  --gray-border: #E6E8EC;
}